* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: #061E29;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter {
    background: #F3F4F4;
    padding: 25px;
    width: 350px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.converter h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.field label {
    font-size: 14px;
    color: #061E29;
    margin-bottom: 5px;
    font-weight: 500;
    padding-left: 10px;
}

.field input,
.field select {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
}

.field input:focus,
.field select:focus {
    border-color: #6a11cb;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.swap {
    font-size: 24px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background-color: #1D546D;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #284142;
}

.result {
    margin-top: 20px;
    text-align: center;
}

.result span {
    font-size: 14px;
    color: #061E29;
    font-weight: 500;
}

.result h3 {
    margin-top: 5px;
    font-size: 26px;
    color: #333;
}